@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  $primary-color: #333;
  $font-edu :'Anton', sans-serif;
  $primary-font: 'Ubuntu', sans-serif;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  a{
    text-decoration: none;
  }
  ul{
    list-style: none;
  }
  html{
    font-size: 62.5%;
    font-family: $primary-font;
    overflow-x: hidden;
  }
  .container {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
  }