.gjs-clm-tags{
    display: none; 
}
.gjs-one-bg {
    background-color: white !important;
    color: #333 !important;
    font-size: 1.4rem !important;
}
.gjs-block-label{
    font-size: 1.1rem !important;
}